/* Container */
#header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-width: 15em;
  color: #f8f8f8;
}

#header img {
  filter: invert(1);
}

/* Topper */
#user {
  display: flex;
  align-items: center;
  gap: 0.3em;
  position: relative;
  height: 2.5em;
  padding: 0;
}

#logoutButton {
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 0.5em;
  position: absolute;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.72);
  background-color: #bac0d5;
  color: black;
  padding: 0.5em 1em;
  top: 1em;
  white-space: pre;
  left: 0;
  z-index: 5;
  opacity: 0;
}

#logoutButton:hover {
  background-color: #9aaddf;
}

#user:hover #logoutButton {
  top: 2.4em;
  opacity: 1;
}

#topper {
  border-radius: 0.5em 0.5em 0 0;
  color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3em;
  padding: 0.8em 2em 0.8em 0.8em;
  padding: 1em 2em 1em 1em;
}

#user span {
  font-weight: bold;
}

#tag {
  font-size: 1.5em;
  font-size: 1.7em;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

/* Links */
#linksContainer {
  flex-grow: 1;
}

#links {
  padding: 1em 0;
}

.navLink {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.3em;
  padding: 0 1em;
  color: inherit;
  text-decoration: none;
}

#links:not(:hover) .navLink.currentPage,
.navLink:hover,
#schoolLinksContainer:hover,
#links:not(:hover) #schoolLinksContainer.currentPage {
  box-shadow: inset 0.3em 0 0 0 #819ae3;
}

/* Admin Links */
#adminLinksContainer {
  display: flex;
  gap: 2em;
  flex-direction: column;
}

#schoolLinksContainer {
  margin-top: 3em;
}

#adminLinksContainer .navLink span {
  font-size: 1.3em;
}
#adminLinksContainer .navLink img {
  width: 25px;
  height: 25px;
}

/* School Links */
#schoolLinksContainer {
  display: flex;
  gap: 1em;
  flex-direction: column;
  padding: 0 1em;
  transition: all 0.3s ease;
  box-shadow: inset 0.3em 0 0 0 #819ae340;
}

.adminPage #schoolLinksContainer {
  /* box-shadow: none; */
}

#schoolLinksHeader {
  display: flex;
  align-items: center;
  gap: 0.3em;
  font-weight: bold;
}
#schoolLinksHeader span {
  /* font-size: 1.2em; */
}

#schoolLinks {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
