@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .printTableContainer:not(:first-child) {
    page-break-before: always;
  }

  .tableEntry {
    break-inside: avoid;
  }
}

:root body {
  background: white;
  width: auto;
  height: auto;
  /* pointer-events: none; */
}

#pageContainer {
  width: 100%;
  padding: 1em;
  max-width: 45em;
  display: flex;
  flex-direction: column;
  gap: 5em;
}

:root #stats {
  justify-content: center;
  padding-bottom: 3em;
}

/* School Students Printouts */
.schoolHeader {
  font-size: 2em;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  padding: 0.5em 0;
  text-align: center;
  font-weight: bold;
}

.schoolPrintTable .tableHeader,
.schoolPrintTable .tableEntryData {
  display: grid;
  grid-template-columns: 12em 4em 1fr;
}

:root .tableEntryHeader {
  display: flex;
  gap: 0.3em;
  padding: 0.5em;
  padding-left: 5em;
}

.tableEntryHeader.Corderitos::after {
  content: "(6-7)";
}
.tableEntryHeader.Ovejitas::after {
  content: "(8-9)";
}
.tableEntryHeader.Ovejas::after {
  content: "(10-12)";
}
