#stats {
  padding: 1em;
  display: flex;
  gap: 5em;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.stat img {
  background-color: lavender;
  padding: 0.5em;
  border-radius: 0.3em;
  box-shadow: #979797 0 0 0.5em 0px;
}

.stat > div {
  display: flex;
  align-items: center;
  gap: 1em;
}

.stat > div > span {
  font-size: 2em;
  font-weight: bold;
}
