
body {
  margin: 0;
}

#page {
  background-color: #f8f8f8;
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

#content {
  background-color: salmon;
  flex-grow: 1;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
